:root {
	--light-accent: #8adfe2;
	--accent: teal;
	--dark-accent: #006666;
	--press-depth: 4px;
	--input-border-width: 2px;
	--font-family: monospace;
}
html, body {
	margin: 0;
	height: 100%;
}
body {
	background: black;
	color: white;
	line-height: 1.2;
	font-family: var(--font-family);
	font-size: 1rem;
}
table {
	width: 100%;
}
thead {
	font-weight: bold;
}
td:last-of-type {
	text-align: right;
}
h1 {
	font-family: Helvetica;
	font-size: 2rem;
	text-transform: uppercase;
}
.honeypot {
	display: none;
}
h1 a {
	text-decoration: none;
	color: white;
}
h1 a:visited {
	color: white;
}
input {
	font-family: monospace;
}
summary {
	cursor: pointer;
}
input[type="text"], input[type="password"] {
	margin: 0.5em 0;
	background-color: black;
	color: white;
	padding: 0.5em;
	border: none;
	border: var(--input-border-width) solid var(--accent);
}
input[type="checkbox"], input[type="radio"] {
	filter: url(#filter);
	cursor: pointer;
}
input.long {
	width: 22em;
}
input[type="text"]::placeholder, input[type="password"]::placeholder {
	color: white;
	opacity: 0.75;
}
button, input[type="submit"], input[type="file"]::file-selector-button {
	font-family: var(--font-family);
	cursor: pointer;
	margin: 0.3em 0;
	background-color: var(--accent);
	display: inline-block;
	color: white;
	padding: 0.4em 0.6em;
	border: none;
	box-shadow: 0 var(--press-depth) 0 0 var(--dark-accent);
}
input[type="file"]::file-selector-button {
	margin-right: 0.5em;
}
input[type="file"] {
	padding-bottom: var(--press-depth);
}
button:active, input[type="submit"]:active, input[type="file"]::file-selector-button:active {
	box-shadow: none;
	transform: translateY(var(--press-depth));
}
select {
	font-family: var(--font-family);
	margin: 0.3em 0;
	background-color: black;
	color: white;
	padding: 0.5em;
	border: none;
	border: var(--input-border-width) solid var(--accent);
}
fieldset {
	border: var(--input-border-width) solid var(--accent);
}
.svg-defs {
	width: 0;
	height: 0;
	position: absolute;
}
#background {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#content {
	max-width: 720px;
	margin: auto;
	padding: 1rem;
}

pre {
	border-left: 2px solid white;
	padding-left: 6px;
}

a {
	color: white;
}

a:visited {
	color: #8adfe2;
}

.success-message {
	color: lime;
}
.warning-message {
	color: orange;
}
.error-message {
	color: lightcoral;
}

#skin-container {
	text-align: center;
}
#skin-canvas {
	display: inline-block;
}

.list-profile-picture {
	--list-profile-picture-size: 24px;
	width: var(--list-profile-picture-size);
	height: var(--list-profile-picture-size);
	background-position-x: calc(-1 * var(--list-profile-picture-size));
	background-position-y: calc(-1 * var(--list-profile-picture-size));
	background-repeat: no-repeat;
	image-rendering: pixelated;
	background-size: calc(8 * var(--list-profile-picture-size)), calc(8 * var(--list-profile-picture-size));
}

.header-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
