html, body {
	margin: 0;
}
body {
	color: white;
	line-height: 1.2;
	font-family: monospace;
	font-size: 1rem;
}

input {
	font-family: monospace;
}

summary {
	cursor: pointer;
}

#background {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#content {
	max-width: 720px;
	margin: auto;
	padding: 1rem;
}

pre {
	border-left: 3px solid white;
	padding-left: 6px;
}

#skin-container {
	text-align: center;
}
#skin-canvas {
	display: inline-block;
}
