:root {
	--accent-light: #84dee1;
	--accent-lighter: #c1eff0;
	--accent: teal;
	--accent-dark: #006666;
	--button-shadow-light: #00aaaabb;
	--button-shadow-dark: #005555bb;
	--button-shadow-size: 3px;
	--button-highlight-size: 2px;
	--input-border-width: 2px;
	--font-family: monospace;
}
html, body {
	margin: 0;
	height: 100%;
}
body {
	background: black;
	color: white;
	line-height: 1.2;
	font-family: var(--font-family);
	font-size: 1rem;
}
hr {
	color: var(--accent-light);
}
table {
	width: 100%;
}
thead {
	font-weight: bold;
}
td:last-of-type {
	text-align: right;
}
.logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.1em;
}
.logo > img {
	width: 1em;
	height: 1em;
}
h1 {
	font-family: Helvetica;
	font-size: 2em;
}
.honeypot {
	display: none;
}
h1 a {
	text-decoration: none;
	color: white;
}
h1 a:visited {
	color: white;
}
input {
	font-family: monospace;
}
summary {
	cursor: pointer;
}
input[type="text"], input[type="password"] {
	margin: 0.5em 0;
	background-color: black;
	color: white;
	padding: 0.5em;
	border: none;
	border: var(--input-border-width) solid var(--accent);
}
input[type="checkbox"], input[type="radio"] {
	filter: url(#filter);
}
input[type="checkbox"]:not(:disabled), input[type="radio"]:not(:disabled) {
	cursor: pointer;
}
input.long {
	width: 22em;
}
input[type="text"]::placeholder, input[type="password"]::placeholder {
	color: white;
	opacity: 0.75;
}
button, input[type="submit"], input[type="file"]::file-selector-button {
	font-family: var(--font-family);
	margin: 0.3em var(--button-shadow-size);
	margin-left: var(--button-shadow-size);
	background-color: var(--accent);
	display: inline-block;
	color: white;
	padding: 0.4em 1.0em;
	border: none;
	box-shadow: 0 var(--button-shadow-size) 0 0 var(--button-shadow-light) inset,
		var(--button-shadow-size) 0 0 0 var(--button-shadow-light) inset,
		0 calc(-1 * var(--button-shadow-size)) 0 0 var(--button-shadow-dark) inset,
		calc(-1 * var(--button-shadow-size)) 0 0 0 var(--button-shadow-dark) inset,
		0 0 0 var(--button-highlight-size) black;
}
button:hover, input[type="submit"]:hover, input[type="file"]::file-selector-button:hover {
	box-shadow: 0 var(--button-shadow-size) 0 0 var(--button-shadow-light) inset,
		var(--button-shadow-size) 0 0 0 var(--button-shadow-light) inset,
		0 calc(-1 * var(--button-shadow-size)) 0 0 var(--button-shadow-dark) inset,
		calc(-1 * var(--button-shadow-size)) 0 0 0 var(--button-shadow-dark) inset,
		0 0 0 var(--button-highlight-size) var(--accent-light);
}
button:active, input[type="submit"]:active, input[type="file"]::file-selector-button:active {
	box-shadow: 0 var(--button-shadow-size) 0 0 var(--button-shadow-dark) inset,
		var(--button-shadow-size) 0 0 0 var(--button-shadow-dark) inset,
		0 calc(-1 * var(--button-shadow-size)) 0 0 var(--button-shadow-light) inset,
		calc(-1 * var(--button-shadow-size)) 0 0 0 var(--button-shadow-light) inset,
		0 0 0 var(--button-highlight-size) var(--accent-light);
}
button:not(:disabled), input[type="submit"]:not(:disabled), input[type="file"]:not(:disabled)::file-selector-button {
	cursor: pointer;
}
select {
	font-family: var(--font-family);
	margin: 0.3em 0;
	background-color: black;
	color: white;
	padding: 0.5em;
	border: none;
	border: var(--input-border-width) solid var(--accent);
}
select:not(:disabled) {
	cursor: pointer;
}
fieldset {
	border: var(--input-border-width) solid var(--accent);
}
.svg-defs {
	width: 0;
	height: 0;
	position: absolute;
}
#background {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#content {
	max-width: 800px;
	margin: auto;
	padding: 1rem;
}

pre {
	border-left: 2px solid white;
	padding-left: 6px;
}

a {
	color: var(--accent-lighter);
}

a:visited {
	color: var(--accent-light);
}

.success-message {
	color: lime;
}
.warning-message {
	color: orange;
}
.error-message {
	color: lightcoral;
}

#skin-container {
	text-align: center;
}
#skin-canvas {
	display: inline-block;
}

.list-profile-picture {
	--list-profile-picture-size: 24px;
	width: var(--list-profile-picture-size);
	height: var(--list-profile-picture-size);
	background-position-x: calc(-1 * var(--list-profile-picture-size));
	background-position-y: calc(-1 * var(--list-profile-picture-size));
	background-repeat: no-repeat;
	image-rendering: pixelated;
	background-size: calc(8 * var(--list-profile-picture-size)), calc(8 * var(--list-profile-picture-size));
}

.header-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 0.5em;
}
