:root {
  --accent-light: #84dee1;
  --accent-lighter: #c1eff0;
  --accent: teal;
  --accent-dark: #066;
  --button-shadow-light: #0aab;
  --button-shadow-dark: #055b;
  --button-shadow-size: 3px;
  --button-highlight-size: 2px;
  --input-border-width: 2px;
  --font-family: monospace;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background: black;
  color: white;
  line-height: 1.2;
  font-family: var(--font-family);
  font-size: 1rem;
}

hr {
  border: none;
  border-top: 2px solid var(--accent-light);
}

table {
  width: 100%;
  border-collapse: collapse;
}

td:not(:first-child) {
  padding-left: 0.5rem;
}

td:last-child {
  text-align: right;
}

thead {
  font-weight: bold;
}

a {
  color: var(--accent-lighter);
}

a:visited {
  color: var(--accent-light);
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}

.divider {
  display: flex;
  align-items: center;
  padding: 5px 0;
  gap: 0.5em;
}
.divider::before, .divider::after {
  content: "";
  flex: 1;
  border-top: 1px solid white;
}
.openid-logo {
  height: 3rem;
  vertical-align: middle;
}

.logo {
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.1em;
}

.logo:visited {
  color: white;
}

.logo > img {
  width: 1em;
  height: 1em;
}

.honeypot {
  display: none;
}

input {
  font-family: monospace;
}

summary {
  cursor: pointer;
}

input {
  color: white;
  accent-color: var(--accent);
}

input:disabled {
  color: gray;
  filter: grayscale(100%);
}

input[type="text"],
input[type="number"],
input[type="password"] {
  margin: 0.5em 0;
  background-color: black;
  padding: 0.5em;
  border: var(--input-border-width) solid var(--accent);
}

input[type="number"] {
  width: 3rem;
}

input[type="checkbox"]:not(:disabled),
input[type="radio"]:not(:disabled) {
  cursor: pointer;
}

input.long {
  width: 22em;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: white;
  opacity: 0.75;
}

button,
input[type="submit"],
input[type="file"]::file-selector-button {
  font-family: var(--font-family);
  margin: 0.3em var(--button-shadow-size);
  margin-left: var(--button-shadow-size);
  background-color: var(--accent);
  display: inline-block;
  color: white;
  padding: 0.4em 1em;
  border: none;
  box-shadow:
    0 var(--button-shadow-size) 0 0 var(--button-shadow-light) inset,
    var(--button-shadow-size) 0 0 0 var(--button-shadow-light) inset,
    0 calc(-1 * var(--button-shadow-size)) 0 0 var(--button-shadow-dark) inset,
    calc(-1 * var(--button-shadow-size)) 0 0 0 var(--button-shadow-dark) inset,
    0 0 0 var(--button-highlight-size) black;
}

button:hover:not(:disabled),
input[type="submit"]:hover:not(:disabled),
input[type="file"]::file-selector-button:hover:not(:disabled) {
  box-shadow:
    0 var(--button-shadow-size) 0 0 var(--button-shadow-light) inset,
    var(--button-shadow-size) 0 0 0 var(--button-shadow-light) inset,
    0 calc(-1 * var(--button-shadow-size)) 0 0 var(--button-shadow-dark) inset,
    calc(-1 * var(--button-shadow-size)) 0 0 0 var(--button-shadow-dark) inset,
    0 0 0 var(--button-highlight-size) var(--accent-light);
}

button:active:not(:disabled),
input[type="submit"]:active:not(:disabled),
input[type="file"]::file-selector-button:active:not(:disabled) {
  box-shadow:
    0 var(--button-shadow-size) 0 0 var(--button-shadow-dark) inset,
    var(--button-shadow-size) 0 0 0 var(--button-shadow-dark) inset,
    0 calc(-1 * var(--button-shadow-size)) 0 0 var(--button-shadow-light) inset,
    calc(-1 * var(--button-shadow-size)) 0 0 0 var(--button-shadow-light) inset,
    0 0 0 var(--button-highlight-size) var(--accent-light);
}

button:not(:disabled),
input[type="submit"]:not(:disabled),
input[type="file"]:not(:disabled)::file-selector-button {
  cursor: pointer;
}

select {
  font-family: var(--font-family);
  margin: 0.3em 0;
  background-color: black;
  color: white;
  padding: 0.5em;
  border: none;
  border: var(--input-border-width) solid var(--accent);
}

select:not(:disabled) {
  cursor: pointer;
}

fieldset {
  border: var(--input-border-width) solid var(--accent);
}

.svg-defs {
  width: 0;
  height: 0;
  position: absolute;
}

#background {
  z-index: -1;
  position: fixed;
  inset: 0;
}

#content {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

pre {
  border-left: 2px solid var(--accent-light);
  padding-left: 0.5em;
}

.success-message {
  color: lime;
}

.warning-message {
  color: orange;
}

.error-message {
  color: lightcoral;
}

#skin-container {
  text-align: center;
}

#skin-canvas {
  display: inline-block;
}

.texture-preview {
  width: 256px;
  image-rendering: pixelated;
}

.small-texture-preview {
  width: 64px;
  image-rendering: pixelated;
}

.noscript-hidden {
  display: none !important;
}

.list-profile-picture {
  --list-profile-picture-size: 24px;
  width: var(--list-profile-picture-size);
  height: var(--list-profile-picture-size);
  background-position-x: calc(-1 * var(--list-profile-picture-size));
  background-position-y: calc(-1 * var(--list-profile-picture-size));
  background-repeat: no-repeat;
  image-rendering: pixelated;
  background-size: calc(8 * var(--list-profile-picture-size)),
    calc(8 * var(--list-profile-picture-size));
}
