# Should be the same as `Domain` in Drasl's config.toml
drasl.example.com

# Email address to use for obtaining TLS certificates
tls mail@example.com

# In this instance, `drasl` is the name of the Drasl container, specified in
# docker-compose.yaml.
reverse_proxy drasl:25585
