{{ template "layout" . }}

{{ define "title" }}Admin - {{ .App.Config.ApplicationName }}{{ end }}

{{ define "content" }}
  {{ template "header" . }}


  <h4>Pending Invites</h4>

  <div style="text-align: right">
    <form
      style="all: unset !important"
      action="{{ .App.FrontEndURL }}/web/admin/new-invite"
      method="post"
    >
      <input hidden name="returnUrl" value="{{ .URL }}" />
      <input type="submit" value="+ New Invite" />
    </form>
  </div>
  {{ if .Invites }}
    <table>
      <thead>
        <tr>
          <td style="width: 50%">Link</td>
          <td>Date Generated</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        {{ range $invite := .Invites }}
          <tr>
            <td>
              <a href="{{ InviteURL $invite }}"
                >{{ $.App.FrontEndURL }}/web/registration?invite={{ $invite.Code }}</a
              >
            </td>
            <td>
              {{ $invite.CreatedAt.Format "Mon Jan _2 15:04:05 MST 2006" }}
            </td>
            <td>
              <form
                action="{{ $.App.FrontEndURL }}/web/admin/delete-invite"
                method="post"
              >
                <input hidden name="returnUrl" value="{{ $.URL }}" />
                <input
                  type="text"
                  name="inviteCode"
                  value="{{ $invite.Code }}"
                  hidden
                />
                <input type="submit" value="× Delete" />
              </form>
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  {{ else }}
    No invites to show.
  {{ end }}

  <h4>All Users</h4>

  <div style="display: none">
    {{ range $user := .Users }}
      <form
        id="delete-{{ $user.UUID }}"
        action="{{ $.App.FrontEndURL }}/web/delete-user"
        method="post"
        onsubmit="return confirm('Are you sure you want to delete the account “{{ $user.Username }}”? This action is irreversible.');"
      >
        <input
          hidden
          name="returnUrl"
          value="{{ if eq $.User.UUID $user.UUID }}
            {{ $.App.FrontEndURL }}
          {{ else }}
            {{ $.URL }}
          {{ end }}"
        />
        <input hidden type="text" name="uuid" value="{{ $user.UUID }}" />
      </form>
    {{ end }}
  </div>

  <form action="{{ .App.FrontEndURL }}/web/admin/update-users" method="post">
    <table>
      <thead>
        <tr>
          <td colspan="2">User</td>
          <td>Players</td>
          <td>Max # players*</td>
          <td>Admin</td>
          <td>Locked</td>
          <td>Delete Account</td>
        </tr>
      </thead>
      <tbody>
        {{ range $user := .Users }}
          <tr>
            <td style="width: 30px">
              <div
                class="list-profile-picture"
                {{/*style="background-image: url({{ PlayerSkinURL $user }});"*/}}
              ></div>
            </td>
            <td>
              <a
                href="{{ $.App.FrontEndURL }}/web/user/{{ $user.UUID }}"
                >{{ $user.Username }}</a
              >
            </td>
            <td>
              {{ if eq (len $user.Players) 1 }}
                {{ with $player := index $user.Players 0 }}
                  <a href="{{ $.App.FrontEndURL }}/web/player/{{ $player.UUID }}">{{ $player.Name }}</a>
                {{ end }}
              {{ else if gt (len $user.Players) 1 }}
                {{ len $user.Players }} players
              {{ end }}
            </td>
            <td>
              <input
                name="max-player-count-{{ $user.UUID }}"
                type="number"
                {{ if $user.IsAdmin }}disabled{{ end }}
                value="{{ if or $user.IsAdmin (eq $user.MaxPlayerCount $.App.Constants.MaxPlayerCountUnlimited) }}-1{{ else if eq $user.MaxPlayerCount $.App.Constants.MaxPlayerCountUseDefault}}{{ else }}{{ $user.MaxPlayerCount }}{{ end }}"
                placeholder="{{ $.App.Config.DefaultMaxPlayerCount }}"
                min="-1">
              </input>
            <td>
              <input
                name="admin-{{ $user.UUID }}"
                title="Admin?"
                type="checkbox"
                {{ if
                  $user.IsAdmin
                }}
                  checked
                {{ end }}
                {{ if
                  IsDefaultAdmin
                  $user
                }}
                  disabled
                {{ end }}
              />
            </td>
            <td>
              <input
                name="locked-{{ $user.UUID }}"
                title="Locked?"
                type="checkbox"
                {{ if
                  $user.IsLocked
                }}
                  checked
                {{ end }}
              />
            </td>
            <td>
              <input
                type="submit"
                form="delete-{{ $user.UUID }}"
                value="× Delete"
              />
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
    <p><small>*Specify -1 to allow an unlimited number of players. Leave blank to use the default max number, which is {{ $.App.Config.DefaultMaxPlayerCount }}.</small></p>
    <p style="text-align: center">
      <input hidden name="returnUrl" value="{{ $.URL }}" />
      <input type="submit" value="Save changes" />
    </p>
  </form>

  {{ template "footer" . }}
{{ end }}
