{{ template "layout" . }}

{{ define "title" }}Admin - Drasl{{ end }}

{{ define "content" }}
  {{ template "header" . }}


  <h4>Pending Invites</h4>

  <div style="text-align: right">
    <form
      style="all: unset !important"
      action="{{ .App.FrontEndURL }}/drasl/admin/new-invite"
      method="post"
    >
      <input hidden name="returnUrl" value="{{ .URL }}" />
      <input type="submit" value="+ New Invite" />
    </form>
  </div>
  {{ if .Invites }}
    <table>
      <thead>
        <tr>
          <td style="width: 50%">Link</td>
          <td>Date Generated</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        {{ range $invite := .Invites }}
          <tr>
            <td>
              <a href="{{ InviteURL $invite }}"
                >{{ $.App.FrontEndURL }}/drasl/registration?invite={{ $invite.Code }}</a
              >
            </td>
            <td>
              {{ $invite.CreatedAt.Format "Mon Jan _2 15:04:05 MST 2006" }}
            </td>
            <td>
              <form
                action="{{ $.App.FrontEndURL }}/drasl/admin/delete-invite"
                method="post"
              >
                <input hidden name="returnUrl" value="{{ $.URL }}" />
                <input
                  type="text"
                  name="inviteCode"
                  value="{{ $invite.Code }}"
                  hidden
                />
                <input type="submit" value="× Delete" />
              </form>
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  {{ else }}
    No invites to show.
  {{ end }}


  <h4>All Users</h4>

  <div style="display: none">
    {{ range $user := .Users }}
      <form
        id="delete-{{ $user.Username }}"
        action="{{ $.App.FrontEndURL }}/drasl/delete-user"
        method="post"
        onsubmit="return confirm('Are you sure? This action is irreversible.');"
      >
        <input hidden name="returnUrl" value="{{ $.URL }}" />
        <input type="text" name="username" value="{{ $user.Username }}" />
      </form>
    {{ end }}
  </div>

  <form action="{{ .App.FrontEndURL }}/drasl/admin/update-users" method="post">
    <table>
      <thead>
        <tr>
          <td colspan="2">Profile</td>
          <td>Player Name</td>
          <td>Admin</td>
          <td>Locked</td>
          <td>Delete Account</td>
        </tr>
      </thead>
      <tbody>
        {{ range $user := .Users }}
          <tr>
            <td style="width: 30px">
              <div
                class="list-profile-picture"
                style="background-image: url({{ UserSkinURL $user }});"
              ></div>
            </td>
            <td>
              <a
                href="{{ $.App.FrontEndURL }}/drasl/profile?user={{ $user.Username }}"
                >{{ $user.Username }}</a
              >
            </td>
            <td>{{ $user.PlayerName }}</td>
            <td>
              <input
                name="admin-{{ $user.Username }}"
                title="Admin?"
                type="checkbox"
                {{ if
                  $user.IsAdmin
                }}
                  checked
                {{ end }}
                {{ if
                  IsDefaultAdmin
                  $user
                }}
                  disabled
                {{ end }}
              />
            </td>
            <td>
              <input
                name="locked-{{ $user.Username }}"
                title="Locked?"
                type="checkbox"
                {{ if
                  $user.IsLocked
                }}
                  checked
                {{ end }}
              />
            </td>
            <td>
              <input
                type="submit"
                form="delete-{{ $user.Username }}"
                value="× Delete"
              />
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
    <p style="text-align: center">
      <input hidden name="returnUrl" value="{{ $.URL }}" />
      <input type="submit" value="Save Changes" />
    </p>
  </form>

  {{ template "footer" . }}
{{ end }}
