{{ template "layout" . }}

{{ define "title" }}Complete Registration - {{ .App.Config.ApplicationName }}{{ end }}

{{ define
  "content"
}}
  {{ template "header" . }}

  {{ $dividerNeeded := false }}

  <h3>Link to an existing user</h3>

  <p>To link this identity provider to your existing {{ .App.Config.ApplicationName }} account, first <a href="{{ .App.FrontEndURL }}">sign in</a> and then go to "Linked accounts" on your <a href="{{ .App.FrontEndURL }}/web/user">user page</a>.</p>
  {{ $dividerNeeded := true }}
  {{ if $dividerNeeded }}
    <div class="divider">or</div>
    {{ $dividerNeeded = false }}
  {{ end }}

  <!-- CreateNewPlayer -->
  {{ if .App.Config.CreateNewPlayer.Allow }}
    {{ if $dividerNeeded }}
      <div class="divider">or</div>
      {{ $dividerNeeded = false }}
    {{ end }}
    <h3>Create a player</h3>
    {{ if .App.Config.CreateNewPlayer.AllowChoosingUUID }}
      <p>Complete registration by creating a new player:</p>
    {{ else }}
      <p>Complete registration by creating a new player with a random UUID:</p>
    {{ end }}
    <form action="{{ .App.FrontEndURL }}/web/register" method="post">
      <input
        required
        type="text"
        name="playerName"
        placeholder="Player name"
        maxlength="{{ .App.Constants.MaxUsernameLength }}"
        value="{{ .PreferredPlayerName }}"
      />
      <input
        type="text"
        name="email"
        placeholder="Leave this blank"
        class="honeypot"
      />
      <input
        hidden
        type="checkbox"
        name="useIdToken"
        checked
      />
      {{ if .App.Config.CreateNewPlayer.AllowChoosingUUID }}
        <p>
          <input
            class="long"
            type="text"
            name="uuid"
            placeholder="Player UUID (leave blank for random)"
            pattern="^[0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12}$"
          />
        </p>
      {{ end }}
      <input type="text" name="inviteCode" value="{{ .InviteCode }}" hidden />
      <input hidden name="returnUrl" value="{{ .URL }}" />
      {{ if .InviteCode }}
        <p><em>Using invite code {{ .InviteCode }}</em></p>
      {{ end }}
      <p>
        <input type="submit" value="Register" />
      </p>
    </form>
    {{ $dividerNeeded = true }}
  {{ end }}

  <!-- ImportExistingPlayer -->
  {{ if .App.Config.ImportExistingPlayer.Allow }}
    {{ if $dividerNeeded }}
      <div class="divider">or</div>
      {{ $dividerNeeded = false }}
    {{ end }}
    <h3>Register from an existing Minecraft player</h3>
    {{ if and .App.Config.RegistrationExistingPlayer.RequireInvite (not
      .InviteCode)
    }}
      <p>Registration as an existing player is invite-only.</p>
    {{ else }}
      {{ if .App.Config.ImportExistingPlayer.RequireSkinVerification }}
        <p>
          Register a new account with the UUID of an existing
          {{ .App.Config.ImportExistingPlayer.Nickname }} account.
          Requires verification that you own the account.
        </p>
        {{ if .InviteCode }}
          <p><em>Using invite code {{ .InviteCode }}</em></p>
        {{ end }}
        <form action="{{ .App.FrontEndURL }}/web/register-challenge" method="get">
          <input
            required
            type="text"
            name="playerName"
            placeholder="{{ .App.Config.ImportExistingPlayer.Nickname }} Player name"
            maxlength="{{ .App.Constants.MaxUsernameLength }}"
          />
          <input
            hidden
            type="checkbox"
            name="useIdToken"
            checked
          />
          <input
            hidden
            type="text"
            name="inviteCode"
            value="{{ .InviteCode }}"
          />
          <input hidden name="returnUrl" value="{{ .URL }}" />
          <input type="submit" value="Continue" />
        </form>
      {{ else }}
        <p>
          Register a new account with the UUID of an existing
          {{ .App.Config.ImportExistingPlayer.Nickname }} account.
        </p>
        <form action="{{ .App.FrontEndURL }}/web/register" method="post">
          <input
            required
            type="text"
            name="playerName"
            placeholder="{{ .App.Config.ImportExistingPlayer.Nickname }} Player name"
            maxlength="{{ .App.Constants.MaxUsernameLength }}"
          />
          <input
            hidden
            type="checkbox"
            name="useIdToken"
            checked
          />
          <input type="checkbox" name="existingPlayer" checked hidden />
          <input
            hidden
            type="text"
            name="inviteCode"
            value="{{ .InviteCode }}"
          />
          {{ if .InviteCode }}
            <p><em>Using invite code {{ .InviteCode }}</em></p>
          {{ end }}
          <input type="submit" value="Register" />
        </form>
      {{ end }}
    {{ end }}
    {{ $dividerNeeded = true }}
  {{ end }}

  {{ template "footer" . }}
{{ end }}
