{{ define "footer" }}
  {{ if .App.Config.EnableFooter }}
  <hr />
  <small>
    {{ call .T `Drasl version %s.` .App.Constants.Version }}
    {{ call .T `Licensed as %s.` (render `<a href="{{ index . 0 }}">{{ index . 1 }}</a>` .App.Constants.LicenseURL .App.Constants.License) }}
    {{ call .T `<a href="%s">Source code</a>.` .App.Constants.RepositoryURL }}
  </small>
  {{ end }}
{{ end }}
