{{ define "base" }}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta
        name="description"
        content="A self-hosted API server for Minecraft"
      />
      <link rel="icon" href="{{ .App.FrontEndURL }}/web/public/icon.png" />
      <link
        rel="manifest"
        href="{{ .App.FrontEndURL }}/web/manifest.webmanifest"
      />
      <link
        rel="stylesheet"
        href="{{ .App.FrontEndURL }}/web/public/style.css"
      />
      <title>{{ block "title" . }}{{ end }}</title>
    </head>
    <body>
      <div id="background"></div>
      <main id="content">{{ block "content" . }}{{ end }}</main>
      {{ if .App.Config.EnableBackgroundEffect }}
      <script type="module">
        import { background } from "{{.App.FrontEndURL}}/web/public/bundle.js";
        background(document.querySelector("#background"));
      </script>
      {{ end }}
    </body>
  </html>
{{ end }}
