{{ define "base" }}
  <!doctype html>
  <html lang="{{ .L.GetLanguage }}">
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="minimum-scale=1, width=device-width, initial-scale=1.0" />
      <meta
        name="description"
        content="A self-hosted API server for Minecraft"
      />
      <link rel="icon" href="{{ .App.PublicURL }}/icon.png" />
      <link
        rel="manifest"
        href="{{ .App.FrontEndURL }}/web/manifest.webmanifest"
      />
      <link
        rel="stylesheet"
        href="{{ .App.PublicURL }}/style.css"
      />
      <title>{{ block "title" . }}{{ end }}</title>
    </head>
    <body>
      <div id="background"></div>
      <main id="content">
        {{ block "content" . }}{{ end }}
      </main>
      <script type="module">
        for (const el of document.querySelectorAll(".noscript-hidden")) {
          el.classList.remove("noscript-hidden");
        }
      </script>
      {{ if .App.Config.EnableBackgroundEffect }}
        <script type="module">
          import { background } from "{{.App.PublicURL}}/bundle.js";
          background(document.querySelector("#background"));
        </script>
      {{ end }}
    </body>
  </html>
{{ end }}
