{{define "base"}}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ .App.FrontEndURL }}/drasl/public/style.css">
		<title>{{block "title" .}}{{end}}</title>
	</head>
	<body>
		<div id="background"></div>
		<main id="content">{{block "content" .}}{{end}}</main>
		<script type="module">
			import { background } from "{{ .App.FrontEndURL }}/drasl/public/bundle.js"
			background(document.querySelector("#background"));
		</script>
	</body>
</html>
{{end}}
