{{ template "layout" . }}

{{ define "title" }}{{ .ProfileUser.PlayerName }}'s Profile - Drasl{{ end }}

{{ define "content" }}

  {{ template "header" . }}


  <h2 style="text-align: center;">{{ .ProfileUser.PlayerName }}</h2>
  <h6 style="text-align: center;">
    {{ .ProfileUser.UUID }}<br />{{ .ProfileUserID }}
  </h6>
  {{ if .SkinURL }}
    <div id="skin-container" style="height: 300px;">
      <canvas id="skin-canvas"></canvas>
    </div>
  {{ else }}
    No skin yet.
  {{ end }}
  <form
    action="{{ .App.FrontEndURL }}/drasl/update"
    method="post"
    enctype="multipart/form-data"
  >
    {{ if or .App.Config.AllowChangingPlayerName .User.IsAdmin }}
      <p>
        <label for="player-name"
          >Player Name (can be different from username)</label
        ><br />
        <input
          type="text"
          name="playerName"
          id="player-name"
          value="{{ .ProfileUser.PlayerName }}"
        />
      </p>
    {{ end }}
    <p>
      <label for="password">Password</label><br />
      <input
        type="password"
        name="password"
        id="password"
        class="long"
        placeholder="Leave blank to keep"
      />
    </p>
    <p>
      <label for="apiToken">API Token</label><br />
      <input
        type="text"
        name="apiToken"
        id="api-token"
        class="long"
        readonly
        value="{{ .ProfileUser.APIToken }}"
      />
      <br />
      <label for="reset-api-token"
        >check the box to reset your API token
      </label>
      <input type="checkbox" name="resetApiToken" id="reset-api-token" />
    </p>
    <p>
      <label for="preferred-language"
        >Preferred Language (used by Minecraft)</label
      ><br />
      <select
        name="preferredLanguage"
        id="preferred-language"
        value="{{ .ProfileUser.PreferredLanguage }}"
      >
        <option
          value="sq"
          {{ if eq .ProfileUser.PreferredLanguage "sq" }}selected{{ end }}
        >
          Albanian
        </option>
        <option
          value="ar"
          {{ if eq .ProfileUser.PreferredLanguage "ar" }}selected{{ end }}
        >
          Arabic
        </option>
        <option
          value="be"
          {{ if eq .ProfileUser.PreferredLanguage "be" }}selected{{ end }}
        >
          Belarusian
        </option>
        <option
          value="bg"
          {{ if eq .ProfileUser.PreferredLanguage "bg" }}selected{{ end }}
        >
          Bulgarian
        </option>
        <option
          value="ca"
          {{ if eq .ProfileUser.PreferredLanguage "ca" }}selected{{ end }}
        >
          Catalan
        </option>
        <option
          value="zh"
          {{ if eq .ProfileUser.PreferredLanguage "zh" }}selected{{ end }}
        >
          Chinese
        </option>
        <option
          value="hr"
          {{ if eq .ProfileUser.PreferredLanguage "hr" }}selected{{ end }}
        >
          Croatian
        </option>
        <option
          value="cs"
          {{ if eq .ProfileUser.PreferredLanguage "cs" }}selected{{ end }}
        >
          Czech
        </option>
        <option
          value="da"
          {{ if eq .ProfileUser.PreferredLanguage "da" }}selected{{ end }}
        >
          Danish
        </option>
        <option
          value="nl"
          {{ if eq .ProfileUser.PreferredLanguage "nl" }}selected{{ end }}
        >
          Dutch
        </option>
        <option
          value="en"
          {{ if eq .ProfileUser.PreferredLanguage "en" }}selected{{ end }}
        >
          English
        </option>
        <option
          value="et"
          {{ if eq .ProfileUser.PreferredLanguage "et" }}selected{{ end }}
        >
          Estonian
        </option>
        <option
          value="fi"
          {{ if eq .ProfileUser.PreferredLanguage "fi" }}selected{{ end }}
        >
          Finnish
        </option>
        <option
          value="fr"
          {{ if eq .ProfileUser.PreferredLanguage "fr" }}selected{{ end }}
        >
          French
        </option>
        <option
          value="de"
          {{ if eq .ProfileUser.PreferredLanguage "de" }}selected{{ end }}
        >
          German
        </option>
        <option
          value="el"
          {{ if eq .ProfileUser.PreferredLanguage "el" }}selected{{ end }}
        >
          Greek
        </option>
        <option
          value="iw"
          {{ if eq .ProfileUser.PreferredLanguage "iw" }}selected{{ end }}
        >
          Hebrew
        </option>
        <option
          value="hi"
          {{ if eq .ProfileUser.PreferredLanguage "hi" }}selected{{ end }}
        >
          Hindi
        </option>
        <option
          value="hu"
          {{ if eq .ProfileUser.PreferredLanguage "hu" }}selected{{ end }}
        >
          Hungarian
        </option>
        <option
          value="is"
          {{ if eq .ProfileUser.PreferredLanguage "is" }}selected{{ end }}
        >
          Icelandic
        </option>
        <option
          value="in"
          {{ if eq .ProfileUser.PreferredLanguage "in" }}selected{{ end }}
        >
          Indonesian
        </option>
        <option
          value="ga"
          {{ if eq .ProfileUser.PreferredLanguage "ga" }}selected{{ end }}
        >
          Irish
        </option>
        <option
          value="it"
          {{ if eq .ProfileUser.PreferredLanguage "it" }}selected{{ end }}
        >
          Italian
        </option>
        <option
          value="ja"
          {{ if eq .ProfileUser.PreferredLanguage "ja" }}selected{{ end }}
        >
          Japanese
        </option>
        <option
          value="ko"
          {{ if eq .ProfileUser.PreferredLanguage "ko" }}selected{{ end }}
        >
          Korean
        </option>
        <option
          value="lv"
          {{ if eq .ProfileUser.PreferredLanguage "lv" }}selected{{ end }}
        >
          Latvian
        </option>
        <option
          value="lt"
          {{ if eq .ProfileUser.PreferredLanguage "lt" }}selected{{ end }}
        >
          Lithuanian
        </option>
        <option
          value="mk"
          {{ if eq .ProfileUser.PreferredLanguage "mk" }}selected{{ end }}
        >
          Macedonian
        </option>
        <option
          value="ms"
          {{ if eq .ProfileUser.PreferredLanguage "ms" }}selected{{ end }}
        >
          Malay
        </option>
        <option
          value="mt"
          {{ if eq .ProfileUser.PreferredLanguage "mt" }}selected{{ end }}
        >
          Maltese
        </option>
        <option
          value="no"
          {{ if eq .ProfileUser.PreferredLanguage "no" }}selected{{ end }}
        >
          Norwegian
        </option>
        <option
          value="nb"
          {{ if eq .ProfileUser.PreferredLanguage "nb" }}selected{{ end }}
        >
          Norwegian Bokmål
        </option>
        <option
          value="nn"
          {{ if eq .ProfileUser.PreferredLanguage "nn" }}selected{{ end }}
        >
          Norwegian Nynorsk
        </option>
        <option
          value="pl"
          {{ if eq .ProfileUser.PreferredLanguage "pl" }}selected{{ end }}
        >
          Polish
        </option>
        <option
          value="pt"
          {{ if eq .ProfileUser.PreferredLanguage "pt" }}selected{{ end }}
        >
          Portuguese
        </option>
        <option
          value="ro"
          {{ if eq .ProfileUser.PreferredLanguage "ro" }}selected{{ end }}
        >
          Romanian
        </option>
        <option
          value="ru"
          {{ if eq .ProfileUser.PreferredLanguage "ru" }}selected{{ end }}
        >
          Russian
        </option>
        <option
          value="sr"
          {{ if eq .ProfileUser.PreferredLanguage "sr" }}selected{{ end }}
        >
          Serbian
        </option>
        <option
          value="sk"
          {{ if eq .ProfileUser.PreferredLanguage "sk" }}selected{{ end }}
        >
          Slovak
        </option>
        <option
          value="sl"
          {{ if eq .ProfileUser.PreferredLanguage "sl" }}selected{{ end }}
        >
          Slovenian
        </option>
        <option
          value="es"
          {{ if eq .ProfileUser.PreferredLanguage "es" }}selected{{ end }}
        >
          Spanish
        </option>
        <option
          value="sv"
          {{ if eq .ProfileUser.PreferredLanguage "sv" }}selected{{ end }}
        >
          Swedish
        </option>
        <option
          value="th"
          {{ if eq .ProfileUser.PreferredLanguage "th" }}selected{{ end }}
        >
          Thai
        </option>
        <option
          value="tr"
          {{ if eq .ProfileUser.PreferredLanguage "tr" }}selected{{ end }}
        >
          Turkish
        </option>
        <option
          value="uk"
          {{ if eq .ProfileUser.PreferredLanguage "uk" }}selected{{ end }}
        >
          Ukrainian
        </option>
        <option
          value="vi"
          {{ if eq .ProfileUser.PreferredLanguage "vi" }}selected{{ end }}
        >
          Vietnamese
        </option>
      </select>
    </p>
    {{ if or .App.Config.AllowSkins .User.IsAdmin }}
      <h4>Skin</h4>
      <p>
        <label for="skin-url">URL to skin file</label><br />
        <input
          type="text"
          name="skinUrl"
          id="skin-url"
          class="long"
          placeholder="Leave blank to keep"
        />
      </p>
      <p>
        <label for="skin-file">or instead, upload a skin</label><br />
        <input type="file" name="skinFile" id="skin-file" />
      </p>
      <p>
        <label for="delete-skin"
          >or instead, check the box to delete your current skin
        </label>
        <input type="checkbox" name="deleteSkin" id="delete-skin" />
      </p>
      <fieldset>
        <legend>Skin model</legend>
        <input
          type="radio"
          id="skin-model-classic"
          name="skinModel"
          value="classic"
          {{ if eq .ProfileUser.SkinModel "classic" }}checked{{ end }}
        />
        <label for="skin-model-classic">Classic</label>
        <input
          type="radio"
          id="skin-model-slim"
          name="skinModel"
          value="slim"
          {{ if eq .ProfileUser.SkinModel "slim" }}checked{{ end }}
        />
        <label for="skin-model-slim">Slim</label>
      </fieldset>
    {{ end }}
    {{ if or .App.Config.AllowCapes .User.IsAdmin }}
      <h4>Cape</h4>
      <p>
        <label for="cape-url">URL to cape file</label><br />
        <input
          type="text"
          name="capeUrl"
          id="cape-url"
          class="long"
          placeholder="Leave blank to keep"
        />
      </p>
      <p>
        <label for="cape-file">or instead, upload a cape</label><br />
        <input type="file" name="capeFile" id="cape-file" />
      </p>
      <p>
        <label for="delete-cape"
          >or instead, check the box to delete your current cape
        </label>
        <input type="checkbox" name="deleteCape" id="delete-cape" />
      </p>
    {{ end }}
    {{ if .App.Config.ForwardSkins }}
      <p>
        <label for="fallback-player">Fallback Player</label><br />
        UUID or player name. If you don't set a skin or cape, this player's skin
        on one of the fallback API servers will be used instead.<br />
        <input
          class="long"
          type="text"
          name="fallbackPlayer"
          id="fallback-player"
          placeholder="{{ .ProfileUser.PlayerName }}"
          value="{{ .ProfileUser.FallbackPlayer }}"
        />
      </p>
    {{ end }}
    <input hidden name="username" value="{{ .ProfileUser.Username }}" />
    <input hidden name="returnUrl" value="{{ .URL }}" />
    <p style="text-align: center;">
      <input type="submit" value="Save Changes" />
    </p>
  </form>
  <p>
    <details>
      <summary>Delete Account</summary>
      <form
        action="{{ .App.FrontEndURL }}/drasl/delete-user"
        method="post"
        onsubmit="return confirm('Are you sure? This action is irreversible.');"
      >
        <input hidden name="username" value="{{ .ProfileUser.Username }}" />
        <input
          hidden
          name="returnUrl"
          value="{{ if .AdminView }}
            {{ .App.FrontEndURL }}/drasl/admin
          {{ else }}
            {{ .App.FrontEndURL }}
          {{ end }}"
        />
        <input type="submit" value="🗙 Delete Account" />
      </form>
    </details>
  </p>

  {{ if .SkinURL }}
<script type="module">
	import { skinview3d } from "{{.App.FrontEndURL}}/drasl/public/bundle.js"
	const skinCanvas = document.getElementById("skin-canvas");
	const skinViewer = new skinview3d.SkinViewer({
		canvas: skinCanvas,
		width: 200,
		height: skinCanvas.parentElement.clientHeight,
	});
	skinViewer.controls.enableZoom = false;
	skinViewer.loadSkin({{.SkinURL}}, {
		model: "{{.ProfileUser.SkinModel}}",
	});
	{{if .CapeURL}}
		skinViewer.loadCape({{.CapeURL}});
	{{end}}
	skinViewer.render();
</script>
  {{ end }}

  {{ template "footer" . }}

{{ end }}
