{{ template "layout" . }}

{{ define "title" }}Register - {{ .App.Config.ApplicationName }}{{ end }}

{{ define
  "content"
}}
  {{ template "header" . }}

  {{ $dividerNeeded := false }}

  <!-- Sign in with OpenID -->
  {{ if gt (len .WebOIDCProviders) 0 }}
    {{ if $dividerNeeded }}
      <div class="divider">or</div>
      {{ $dividerNeeded = false }}
    {{ end }}
    <h3><img class="openid-logo" src="{{ .App.PublicURL }}/openid-logo.svg" alt="OpenID logo"></h3>
    {{ range $provider := $.WebOIDCProviders }}
      {{ if and $provider.RequireInvite (not $.InviteCode) }}
        Signing in with {{ $provider.Name }} is invite-only.
      {{ else }}
        <p>
          <a href="{{ $provider.AuthURL }}">Sign in with {{ $provider.Name }}</a>
        </p>
      {{ end }}
    {{ end }}
    {{ $dividerNeeded = true }}
  {{ end }}

  <!-- RegistrationNewPlayer -->
  {{ if and .App.Config.RegistrationNewPlayer.Allow .App.Config.AllowPasswordLogin }}
    {{ if $dividerNeeded }}
      <div class="divider">or</div>
      {{ $dividerNeeded = false }}
    {{ end }}
    <h3>Register</h3>
    {{ if and .App.Config.RegistrationNewPlayer.RequireInvite (not .InviteCode) }}
      <p>Registration as a new player is invite-only.</p>
    {{ else }}
      {{ if .App.Config.CreateNewPlayer.AllowChoosingUUID }}
        <p>Register a new account:</p>
      {{ else }}
        <p>Register a new account with a random UUID:</p>
      {{ end }}
      <form action="{{ .App.FrontEndURL }}/web/register" method="post">
        <input
          type="text"
          name="playerName"
          placeholder="Username"
          maxlength="{{ .App.Constants.MaxUsernameLength }}"
          required
        />
        <input
          type="text"
          name="email"
          placeholder="Leave this blank"
          class="honeypot"
        />
        <input
          type="password"
          name="password"
          placeholder="Password"
          minlength="{{ .App.Config.MinPasswordLength }}"
          class="long"
          required
        />
        {{ if .App.Config.CreateNewPlayer.AllowChoosingUUID }}
          <p>
            <input
              class="long"
              type="text"
              name="uuid"
              placeholder="Player UUID (leave blank for random)"
              pattern="^[0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12}$"
            />
          </p>
        {{ end }}
        <input type="text" name="inviteCode" value="{{ .InviteCode }}" hidden />
        <input hidden name="returnUrl" value="{{ .URL }}" />
        {{ if .InviteCode }}
          <p><em>Using invite code {{ .InviteCode }}</em></p>
        {{ end }}
        <p>
          <input type="submit" value="Register" />
        </p>
      </form>
    {{ end }}
    {{ $dividerNeeded = true }}
  {{ end }}

  <!-- RegistrationExistingPlayer -->
  {{ if and .App.Config.RegistrationExistingPlayer.Allow .App.Config.AllowPasswordLogin }}
    {{ if $dividerNeeded }}
      <div class="divider">or</div>
      {{ $dividerNeeded = false }}
    {{ end }}
    <h3>Register from an existing Minecraft player</h3>
    {{ if and .App.Config.RegistrationExistingPlayer.RequireInvite (not
      .InviteCode)
    }}
      <p>Registration as an existing player is invite-only.</p>
    {{ else }}
      {{ if .App.Config.ImportExistingPlayer.RequireSkinVerification }}
        <p>
          Register a new account with the UUID of an existing
          {{ .App.Config.ImportExistingPlayer.Nickname }} account.
          Requires verification that you own the account.
        </p>
        {{ if .InviteCode }}
          <p><em>Using invite code {{ .InviteCode }}</em></p>
        {{ end }}
        <form action="{{ .App.FrontEndURL }}/web/register-challenge" method="get">
          <input
            type="text"
            name="playerName"
            placeholder="{{ .App.Config.ImportExistingPlayer.Nickname }} Player name"
            maxlength="{{ .App.Constants.MaxUsernameLength }}"
            required
          />
          <input
            type="text"
            name="inviteCode"
            value="{{ .InviteCode }}"
            hidden
          />
          <input hidden name="returnUrl" value="{{ .URL }}" />
          <input type="submit" value="Continue" />
        </form>
      {{ else }}
        <p>
          Register a new account with the UUID of an existing
          {{ .App.Config.ImportExistingPlayer.Nickname }} account.
        </p>
        <form action="{{ .App.FrontEndURL }}/web/register" method="post">
          <input
            type="text"
            name="playerName"
            placeholder="{{ .App.Config.ImportExistingPlayer.Nickname }} Player name"
            maxlength="{{ .App.Constants.MaxUsernameLength }}"
            required
          />
          <input
            type="password"
            name="password"
            placeholder="Password"
            minlength="{{ .App.Config.MinPasswordLength }}"
            class="long"
            required
          />
          <input type="checkbox" name="existingPlayer" checked hidden />
          <input
            type="text"
            name="inviteCode"
            value="{{ .InviteCode }}"
            hidden
          />
          {{ if .InviteCode }}
            <p><em>Using invite code {{ .InviteCode }}</em></p>
          {{ end }}
          <input type="submit" value="Register" />
        </form>
      {{ end }}
    {{ end }}
    {{ $dividerNeeded = true }}
  {{ end }}

  {{ template "footer" . }}
{{ end }}
