{{template "layout.html" .}}

{{define "title"}}Drasl{{end}}

{{define "content"}}
{{template "header" .}}
<h3>Log in</h3>
<form action="{{.App.FrontEndURL}}/drasl/login" method="post">
	<input type="text" name="username" placeholder="Username" required>
	<input class="long" type="password" name="password" placeholder="Password" required>
	<input type="submit" value="Log in">
</form>

<h3>Configuring your client</h3>
<p>In Prism Launcher, create a "Custom Yggdrasil" account with the following servers:</p>
<table>
	<tr>
		<td>Authentication Server:</td><td>{{ .App.AuthURL }}</td>
	</tr>
	<tr>
		<td>Account Server:</td><td>{{ .App.AccountURL }}</td>
	</tr>
	<tr>
		<td>Session Server:</td><td>{{ .App.SessionURL }}</td>
	</tr>
	<tr>
		<td>Services Server:</td><td>{{ .App.ServicesURL }}</td>
	</tr>
</table>

<p>Or, using authlib-injector, use the following URL:</p>
<p>{{ .App.AuthlibInjectorURL }}</p>

<h3>Configuring your server</h3>
Add the following arguments before you specify the jarfile:
<pre style="word-wrap: break-word; white-space: pre-wrap; overflow-x: auto;">-Dminecraft.api.env=custom -Dminecraft.api.auth.host={{ .App.AuthURL }} -Dminecraft.api.account.host={{ .App.AccountURL }} -Dminecraft.api.session.host={{ .App.SessionURL }} -Dminecraft.api.services.host={{ .App.ServicesURL }}</pre>

For example, the full command you use to start the server might be:
<pre style="word-wrap: break-word; white-space: pre-wrap; overflow-x: auto;">java -Xmx1024M -Xms1024M \
-Dminecraft.api.env=custom \
-Dminecraft.api.auth.host={{ .App.AuthURL }} \
-Dminecraft.api.account.host={{ .App.AccountURL }} \
-Dminecraft.api.session.host={{ .App.SessionURL }} \
-Dminecraft.api.services.host={{ .App.ServicesURL }} \
-jar server.jar nogui</pre>
{{end}}
