{{template "layout.html" .}}

{{define "title"}}Drasl{{end}}

{{define "content"}}
{{template "header" .}}
<h3>Log in</h3>
<form action="{{.App.FrontEndURL}}/drasl/login" method="post">
	<input type="text" name="username" placeholder="Username" required>
	<input class="long" type="password" name="password" placeholder="Password" required>
	<input type="submit" value="Log in">
</form>

<h3>Configuring your client</h3>
<p>Using Drasl on the client requires a third-party launcher that supports custom API servers. <a href="https://github.com/fn2006/PollyMC">PollyMC</a>, a fork of Prism Launcher (and not to be confused with PolyMC) is recommended, but <a href="https://github.com/huanghongxun/HMCL">HMCL</a> also works. Both are free/libre.</p>

<h4>PollyMC</h4>

<ol>
	<li>Click your account in the top right and select "Manage Accounts..."</li>.
	<li>Click "Add authlib-injector" in the right-hand sidebar</li>.
	<li>Enter your username and password, and use <a href="{{.App.AuthlibInjectorURL}}">{{.App.AuthlibInjectorURL}}</a> for the URL. Click "OK".</li>
</ol>

<h4>HMCL</h4>

<ol>
	<li>Go to the "Account List" view by clicking the account at the top of the sidebar.</li>
	<li>At the bottom left, click "New Auth Server" and enter <a href="{{.App.AuthlibInjectorURL}}">{{.App.AuthlibInjectorURL}}</a>. Click "Next" and then "Finish".</li>
	<li>In the sidebar, click the newly-added authentication server, labeled "{{.App.Config.InstanceName}}". Enter your Drasl username and password and click "Login".</li>
</ol>

<h4>Other Launchers</h4>

<p>
Use the authlib-injector URL <a href="{{.App.AuthlibInjectorURL}}">{{.App.AuthlibInjectorURL}}</a>.
</p>

<p>
Or, if your launcher supports custom API servers but not via authlib-injector, use the following URLs:
</p>

<table>
	<tr>
		<td>Authentication Server:</td><td>{{ .App.AuthURL }}</td>
	</tr>
	<tr>
		<td>Account Server:</td><td>{{ .App.AccountURL }}</td>
	</tr>
	<tr>
		<td>Session Server:</td><td>{{ .App.SessionURL }}</td>
	</tr>
	<tr>
		<td>Services Server:</td><td>{{ .App.ServicesURL }}</td>
	</tr>
</table>

<h3>Configuring your server</h3>

<h4>Minecraft 1.16 and later</h4>

On recent versions of Minecraft, you can use Drasl on an unmodified Vanilla server. To do so, add the following arguments before you specify the jar file when you start the server:
<pre style="word-wrap: break-word; white-space: pre-wrap; overflow-x: auto;">-Dminecraft.api.env=custom -Dminecraft.api.auth.host={{ .App.AuthURL }} -Dminecraft.api.account.host={{ .App.AccountURL }} -Dminecraft.api.session.host={{ .App.SessionURL }} -Dminecraft.api.services.host={{ .App.ServicesURL }}</pre>

For example, the full command you use to start the server might be:
<pre style="word-wrap: break-word; white-space: pre-wrap; overflow-x: auto;">java -Xmx1024M -Xms1024M \
    -Dminecraft.api.env=custom \
    -Dminecraft.api.auth.host={{ .App.AuthURL }} \
    -Dminecraft.api.account.host={{ .App.AccountURL }} \
    -Dminecraft.api.session.host={{ .App.SessionURL }} \
    -Dminecraft.api.services.host={{ .App.ServicesURL }} \
    -jar server.jar nogui</pre>

<h4>Minecraft 1.15.2 and earlier</h4>

<p>
	Refer to the authlib-injector documentation on setting up a server: <a href="https://github.com/yushijinhun/authlib-injector/blob/develop/README.en.md#deploy">https://github.com/yushijinhun/authlib-injector/blob/develop/README.en.md#deploy</a>.
</p>

<p>
	Alternatively, you can patch your server to use a newer version of Mojang's authlib that supports custom API servers. See <a href="https://github.com/tinytengu/minecraft-authlib">https://github.com/tinytengu/minecraft-authlib</a>.
</p>

{{template "footer" .}}

{{end}}
